<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yusufali.lenovo.odemetakip">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >




        <activity android:name=".ActivityMain"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityYeniOdeme"
            android:screenOrientation="portrait"
            android:parentActivityName=".ActivityMain" />
        <activity
            android:name=".ActivityTumKategorilerOdemeler"
            android:screenOrientation="portrait"
            android:parentActivityName=".ActivityMain" />

        <provider
            android:name=".data.OdemelerProvider"
            android:authorities="com.yusufali.lenovo.odemetakip.odemelerprovider"
            android:exported="true" />

        <service
            android:name=".services.BildirimServisi"


            android:exported="false" />

        <receiver
            android:name=".recievers.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ActivityGunuGelenler"
            android:screenOrientation="portrait"
            android:parentActivityName=".ActivityMain" />
        <activity
            android:name=".ActivityDetayliBilgiler"
            android:screenOrientation="portrait"
            android:parentActivityName=".ActivityTumKategorilerOdemeler" />
        <activity
            android:name=".ActivityDetayliBilgiler2"
            android:label="@string/title_activity_detayli_bilgiler2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:parentActivityName=".ActivityTumKategorilerOdemeler"/>
        <activity android:name=".ActivityGecmisTumOdemeler"
            android:screenOrientation="portrait"
            android:parentActivityName=".ActivityTumKategorilerOdemeler"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>